page-home {
  //this changes the background for the home page
  ion-content {
    background-image: url('../../assets/imgs/imgs/Adoption.framer/imported/UI - SaveBarkley2@1x/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
