// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



//this code changes the nav pane toolbar image.
.toolbar-background {
  background-color:#2DB9BF;
}

//changes the menu icon to white
ion-icon {
  color: map_get($colors, white) !important;
}

//this changes background color for the side bar items
ion-menu {
  ion-content, button {
  background-color: map_get($colors, primary) !important;
  }
}

//this class tells how big the images will be
.div-img1 {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-profileimg {
  background-repeat: no-repeat;
  width:170px;
  height:170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  border:10px solid;
  border-color: rgba(45, 185, 191, .3);
}

h6{
  font-size:12px;
  text-align:center;
}

h5{
  font-size:20px;
}

h1 {
  font-size: 5px;
}

p{
  font-size:10px;
}

span{
  font-weight:400;
  font-size:15px;
}

.thumbnail{
  width:50px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile{
  padding-top:15px;
}

.nav-header{
  background-repeat: no-repeat;
  width: 500px;
  height: 50px;
}